body {
	#wpcontent {
		padding: 0;
		#wpretail-wrapper {
			height: 100%;
			position: fixed;
			z-index: 100099;
			top: 0;
			right: 0;
			left: 0;
			overflow-y: scroll;

			.form-control {
				max-width: 100%;
			}

			#content {
				.wpretail-form {
					background-color: #fff;
					padding: 20px;
				}
			}
		}
	}
}
